{% extends "admin/change_form.html" %}

{% block extrahead %}
    <style type="text/css">
        tr.add-row : { display:none };
    </style>
{% endblock %}

{% block submit_buttons_bottom %}
    {% if not user.is_readonly %}
        {{ block.super }}
        {% if change %}
            {% if original.arrivato_al_campo %}
                <button name="_check_in_quartiere" href="do-check-in-quartiere/" class="btn btn-high btn-success bureau-buttons" type="submit">CONFERMA L'ARRIVO DI TUTTI AL QUARTIERE</button>
            {% else %}
                <button name="_set_arrived_campo" href="do-check-in-campo/" class="btn btn-high btn-info bureau-buttons" type="submit">SEGNA IL CLAN COME ARRIVATO AL CAMPO</button>
                <button name="_set_retired_campo" href="do-set-retired-campo/" class="btn btn-high btn-danger bureau-buttons" type="submit">RITIRA IL CLAN DALLA ROUTE</button>
            {% endif %}

            <button name="_add_rover_o_scolta" class="btn btn-high btn-info" type="submit">AGGIUNGI UN ROVER O UNA SCOLTA A QUESTO CLAN</button>
            <button name="_print_badge" href="do-vclan-print-badge/" class="btn btn-high btn-success" type="submit">STAMPA BADGE</button>

            
        <script type="text/javascript">

            $('button[name=_add_rover_o_scolta]').click(function (e) {
                window.open('{% url "admin:edda_humen_add" %}?vclan_id={{ original.pk }}');
                e.stopPropagation();
                return false;
            });

            $('button[name=_print_badge]').click(function (e) {
                if(!confirm('Se stampi un nuovo badge, quello vecchio non sarà più valido. Sei sicuro?')) {
                  e.stopPropagation();
                  return false;
                }
                //window.location.href = 'do-print-badge/';
                window.open('do-vclan-print-badge/', '_blank');
                e.stopPropagation();
                return false;
            });

            $('.bureau-buttons').click(function (e) {
                var el = $(e.target);
                $.post(el.attr('href'), {})
                    .done(function(data) {
                        if (data != "OK") {
                            alert("Non hai i permessi necessari per eseguire l'operazione");
                        } else {
                            alert('Operazione "' + el.text() + '" eseguita con successo!');
                            window.location.reload();
                        }
                    })
                    .fail(function(data) {
                        alert("Non hai i permessi necessari per eseguire l'operazione");
                    });
            
                e.stopPropagation();
                return false;
            });
        </script>
        {% endif %}
    {% endif %}
{% endblock %}


{% block object-tools %} {# nascondiamo il blocco #} {% endblock %}

{% block object-tools-items %}
    <!-- <li><a href="do-check-in-campo/" class="actionlink" dove="CAMPO"><i
        class="icon-time icon-alpha75"></i>Imposta arrivo al CAMPO</a>
    </li> -->
{% endblock %}
