<!DOCTYPE html>
<html>
  <head>
	<style>
		body {
			font-size: 24px;
		}
	</style>
	<script>
	setInterval(function(){window.location.reload()}, 3000);
	</script>
  </head>
  <body>
  <div>
   <img src='/static/edda/logoroute.png' style='' /> 
   <p>Sono arrivate a San Rossore <strong>{{npersone}}</strong> su <strong>{{totale}}</strong> persone ai quartieri.</p>
    <p>Sono arrivati <strong>{{n_clan_varco0}}</strong> clan al varco 0.</p>
   <ul>
	<li>Quartiere A: <strong>{{nq1}}</strong> persone, <strong>{{nclan1}}</strong> clan</li>
	<li>Quartiere B: <strong>{{nq2}}</strong> persone, <strong>{{nclan2}}</strong> clan</li>
	<li>Quartiere C: <strong>{{nq3}}</strong> persone, <strong>{{nclan3}}</strong> clan</li>
	<li>Quartiere D: <strong>{{nq4}}</strong> persone, <strong>{{nclan4}}</strong> clan</li>
	<li>Quartiere E: <strong>{{nq5}}</strong> persone, <strong>{{nclan5}}</strong> clan</li>
	<li>One Team: <strong>{{noneteam}}</strong> persone</li>
   </ul>
  </div>
  </body>
</html>
