{% extends "admin/change_form.html" %}

{% block extrahead %}
    <style type="text/css">
        tr.add-row : { display:none };
    </style>
{% endblock %}

{% block submit_buttons_bottom %}
    {% if not user.is_readonly %}
        {{ block.super }}
    {% endif %}
{% endblock %}


{% block object-tools %} {# nascondiamo il blocco #} {% endblock %}

{% block object-tools-items %}
    <!-- <li><a href="do-check-in-campo/" class="actionlink" dove="CAMPO"><i
        class="icon-time icon-alpha75"></i>Imposta arrivo al CAMPO</a>
    </li> -->
{% endblock %}
